.address-container {
    background-color: #fff; /* White background */
    color: #000; /* Black text */
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    font-size: 18px; /* Increased font size */
}

.address-header {
    text-align: center;
    font-size: 28px; /* Increased font size */
    margin-bottom: 20px;
}

.address-input-container {
    margin-bottom: 15px;
}

.address-input-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px; /* Increased font size */
}

.address-input-container input {
    width: 95%;
    padding: 10px; 
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px;
    background-color: #fff; /* White background for input */
    color: #000; /* Black text */
    font-size: 16px; /* Increased font size */
}

.submit-button {
    background: linear-gradient(145deg, #2a2a2a, #3e3e3e);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), 
                -2px -2px 6px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
  }
  
  .submit-button:hover {
    background: linear-gradient(145deg, #3e3e3e, #2a2a2a);
    color: #ffda79;
    transform: scale(1.05);
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.3), 
                -4px -4px 8px rgba(255, 255, 255, 0.2);
  }
  
  .submit-button:active {
    transform: scale(0.98);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4), 
                inset -2px -2px 4px rgba(255, 255, 255, 0.1);
    background: linear-gradient(145deg, #4a4a4a, #2a2a2a);
  }
  

.dropdown-content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px; /* Limit height to enable scroll */
    overflow-y: auto; /* Add scroll for overflow */
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.dropdown-content button {
    padding: 10px;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    width: 100%; /* Full width for a clean look */
}

.dropdown-content button:hover {
    background-color: #f0f0f0; /* Highlight on hover */
    color: #000;
}

.dropdown-item {
    border-bottom: 1px solid #ccc; /* Dividers for better separation */
}

.dropdown-item:last-child {
    border-bottom: none; /* Remove border for the last item */
}
